<main>
  <!-- Barra de progreso -->
  <div class="barra" id="barra-progreso"></div>

  <h1>
    Barra de progreso con 
    <a href="https://rxjs-dev.firebaseapp.com/" target="_blank">RxJS</a>
  </h1>

  <p>
    Pequeño efecto visual creado en RxJS para mostrar una barra de progreso en la parte superior
    del sitio, indicando el avance de lectura.
  </p>
  <p><a href="https://rxjs-dev.firebaseapp.com/" target="_blank">Documentación de RxJS</a></p>

  <!-- Párrafos de relleno -->
  <div class="lorem">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores beatae, corrupti incidunt facilis obcaecati corporis sint in inventore et cum illo hic ea quod dignissimos accusamus natus minus vel voluptate?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste fugiat, beatae error expedita dolor omnis velit excepturi numquam consequatur voluptates explicabo odio eum, sequi tenetur unde, illo quo. Inventore, sunt.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus tenetur hic perspiciatis quisquam sequi nobis aliquam. At commodi obcaecati ducimus quaerat sunt, necessitatibus, voluptatum incidunt, consequatur qui laudantium laborum totam.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, ex? Nisi sint ad ullam, expedita officia suscipit, maiores earum tempora, quaerat eveniet minus sed explicabo eius enim ex eos tempore.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt possimus architecto molestias, est explicabo reprehenderit ut totam blanditiis saepe laborum veritatis non eius recusandae obcaecati maiores praesentium debitis natus in?</p>
  </div>
</main>